body{
        color: #349beb;
         background-image: url('https://firebasestorage.googleapis.com/v0/b/roaau-javascript.appspot.com/o/imagenes%2FImagenes%20De%20Parejas%20Anime.gif?alt=media&token=9f7969e9-11f7-4f88-98d8-c8720fc5898e'); 
                background-position: center 25%; 
                background-size: cover; 
}
h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}


