body{
        color: #349beb;
         background-image: url("https://firebasestorage.googleapis.com/v0/b/roaau-javascript.appspot.com/o/imagenes%2FWhatsApp%20Video%202024-02-20%20at%2015.56.52.mp4?alt=media&token=9257ac3c-68f8-461f-9129-3cca5a54a936"); 
                background-position: center 25%; 
                background-size: cover; 
}
h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}


