body{
        text-align: center;
        margin: 0;
        background: #34cfeb;
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family:Calibri; 
}
h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}


